{% extends "base.html" %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href='{% static "css/login.css" %}' />
{% endblock %}
{% block content %}
<div class="container_login">
    <form action="{% url "user:signup" %}" method="post">
        {% csrf_token %}
        <h1>Регистрация</h1>
        <div class="input_block">
            <input type="email" name="email" id="id_email" value="{% if form.email.value %}{{form.email.value}}{% endif %}" placeholder="Почта" required>
            {% if form.email.errors %}
            <div class="error_field">{{form.email.errors}}</div>
            {% endif %}
        </div>
        <div class="input_block">
            <input type="text" name="username" id="id_username" value="{% if form.username.value %}{{form.username.value}}{% endif %}" placeholder="Имя пользователя" required>
            {% if form.username.errors %}
            <div class="error_field">{{form.username.errors}}</div>
            {% endif %}
        </div>
        <div class="input_block">
            <input type="password" name="password1" id="id_password1" value="{% if form.password1.value %}{{form.password1.value}}{% endif %}" placeholder="Пароль" required>
            {% if form.password1.errors %}
            <div class="error_field">{{form.password1.errors}}</div>
            {% endif %}
        </div>
        <div class="input_block">
            <input type="password" name="password2" id="id_password2" value="{% if form.password2.value %}{{form.password2.value}}{% endif %}" placeholder="Подтверждение пароля" required>
            {% if form.password2.errors %}
            <div class="error_field">{{form.password2.errors}}</div>
            {% endif %}
        </div>
        <div class="submit_btn">
            <button type="submit">ЗАРЕГИСТРИРОВАТЬСЯ</button>
        </div>
        <div class="additional">
            <p>У вас уже есть аккаунт? <a href="{% url "users:login" %}">Войти</a></p>
        </div>
    </form>
</div>
{% endblock content %}