{% extends "base.html" %} 
{% load static %} 
{% load order_tag %} 

{% block css %}
<link rel="stylesheet" href='{% static "css/user_orders.css" %}' />
{% endblock css %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
<script src='{% static "js/cancel_order.js" %}' defer></script>
<script src='{% static "js/repeat_order.js" %}' defer></script>
{% endblock js %}

{% block content %}
<main class="orders-container">
  <h1 class="orders-title">Ваши заказы</h1>

  <div class="orders-list">
    {% for order in orders %}
        {% get_order_products_tag order.id as order_products %}
        <div class="order-card">
                <div class="order-header">
                    <div class="order-info">
                        <span class="order-date">Заказ от {{ order.time_created|date:"d.m.Y H:i" }}</span>
                    </div>
                    <div id="status-{{ order.id }}"
                    class={% if order.status == 'В обработке' %}"order-status status-processing"{% elif order.status == 'Доставлен' %}"order-status status-delivered"{% elif order.status == 'Отменён' %}"order-status status-cancelled"{% endif %}>
                        {{ order.status }}
                    </div>
                </div>
                
                <div class="order-content">
                    <div class="order-items">
                        {% for order_product in order_products %}
                            <div class="order-item">
                                <div class="item-image">
                                    <img src="{{ order_product.product.image.url }}" alt="Товар">
                                </div>
                                <div class="item-details">
                                    <h4 class="item-name">{{ order_product.name }}</h4>
                                    <div class="item-meta">
                                        <span class="item-price">{{ order_product.price }} ₽ × {{ order_product.quantity }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    
                    <div class="order-summary">
                        <div class="summary-row">
                            <span>Товары ({{ order_products.count }}):</span>
                            <span>{{ order_products.total_price }} ₽</span>
                        </div>
                        <div class="summary-row">
                            <span>Доставка:</span>
                            <span>(функция для подсчета цены доставки)</span>
                        </div>
                        <div class="summary-row total">
                            <span>Итого:</span>
                            <span>{{ order_products.total_price }} ₽</span>
                        </div>
                        <div class="summary-row">
                            {% if order.status == 'В обработке' %}
                                <span id="datetext-{{ order.id }}">Примерное время доставки:</span>
                                <span id="time-{{ order.id }}">(функция для подсчета времени доставки)</span>
                            {% elif order.status == 'Доставлен' %}
                                <span>Дата доставки:</span>
                                <span>Дата доставки (из бд)</span>
                            {% elif order.status == 'Отменён' %}
                                <span id="datetext-{{ order.id }}">Дата отмены заказа:</span>
                                <span id="time-{{ order.id }}">{{ order.cancellation_date|date:"d.m.Y H:i" }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                
                <div class="order-actions">
                    <button class="btn btn-details">Подробнее</button>
                    {% if order.status == 'В обработке' %}
                        <a data-url-cancel="{% url "orders:cancel" %}" data-order-id={{ order.id }} data-url-repeat="{% url "orders:repeat" %}" class="cancel"><button class="btn btn-cancel" id="{{ order.id }}">
                            {% csrf_token %}
                            Отменить заказ</button></a>
                    {% elif order.status == 'Отменён' %}
                        <a data-url-cancel="{% url "orders:cancel" %}" data-order-id={{ order.id }} data-url-repeat="{% url "orders:repeat" %}" class="repeat"><button class="btn btn-repeat" id="{{ order.id }}">
                            {% csrf_token %}
                            Повторить заказ</button></a>
                    {% endif %}
                </div>
            </div>
    {% endfor %}
  </div>
</main>
{% endblock content %}
