body {
    background: url('../imgs/blur_bg.jpg') 0 0 /cover fixed;
    backdrop-filter: blur(30px);
    min-height: 100vh;
}

.hero {
    background: url('../imgs/hero-bg.jpg') no-repeat center center / cover;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.hero-content {
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 30px;
}

.hero-buttons {
    display: flex;
}

.hero-button {
    padding: 15px 30px;
    background: #0d8dd7;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    width: 225px;
    height: 51px;
    display: block;
    margin: 5px;
}

.hero-button:hover {
    transform: scale(1.04);
    background: #0a6da5;
}

.hero-button:active{
    transform: scale(0.96);
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 60px 20px;
    background: #ffffff;
    margin: 45px 0;
}

.feature {
    text-align: center;
    color: #000000;
}

.feature h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature p {
    font-size: 16px;
    color: #686767;
}

.best_products {
    padding: 60px 20px;
    text-align: center;
    background: #fff;
    margin: 45px 0;
    background: #ffffff;
}

.best_products h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #000000;
}

.products_grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.product_card {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.product_card img {
    max-width: 100%;
    border-radius: 10px;
}

.product_image {
    max-width: 300px;
    height: 100px;
    margin-bottom: 150px;
}

.product_card h3 {
    font-size: 20px;
    margin: 15px 0;
}

.product_card p {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
}

.product_card button {
    padding: 10px 20px;
    background: #0d8dd7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.product_card button:hover {
    transform: scale(1.04);
    background: #0a6da5;
}

.product_card button:active{
    transform: scale(0.96);
}

.else h3:hover{
    color: #0d8dd7;
    cursor: pointer;
}

.else p:hover{
    color: #0d8dd7;
    cursor: pointer;
}