{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel='stylesheet' href='{% static "css/user_reviews.css" %}'>
{% endblock css %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
<script src='{% static "js/delete_review.js" %}' defer></script>
{% endblock js %}

{% block content %}
<main class="reviews-wrapper">
    <div class="reviews-container">
        <h1 class="reviews-title">Ваши отзывы</h1>
        <div class="reviews-section">
            {% include "includes/include_user_reviews.html" %}
        </div>
    </div>
</main>
{% endblock content %}