{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href='{% static "css/reset.css" %}' />
    {% block css %}{% endblock %}
    <title>Главная</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo"><a href="main.html">TECH MARKET</a></div>
        <nav class="menu">
          <ul>
            <li class="menu-element"><a href="main.html">ГЛАВНАЯ</a></li>
            <li class="menu-element"><a href="cart.html">КОРЗИНА</a></li>
            <li class="menu-element"><a href="signup.html">РЕГИСТРАЦИЯ</a></li>
            <li class="menu-element"><a href="motherboards.html">ТОВАРЫ</a></li>
          </ul>
        </nav>
      </div>
    </header>
    
    {% block content %}
    {% endblock  %}

    {% block footer %}
    {% endblock footer %}
  </body>
</html>