{% extends "main/base.html" %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href='{% static "css/catalog.css" %}' />
{% endblock %}
{% block aside %}
  <aside>
    <nav class="aside__nav">
      <div class="headline"><h1>Категории товаров</h1></div>
      <a href="motherboards.html" class="aside-element">Материнские платы</a>
      <a href="graphicalcards.html" class="aside-element">Видеокарты</a>
      <a href="processors.html" class="aside-element">Процессоры</a>
      <a href="monitors.html" class="aside-element">Мониторы</a>
      <a href="keyboards.html" class="aside-element">Клавиатуры</a>
    </nav>
  </aside>
{% endblock aside %}
{% block content %}
<main>
  <article>
    <section>
      <div class="product_image"><img src="../imgs/graphicalcards/gcard1.jpg" alt=""></div>
      <div class="product_desc">
        <div class="product_name desc_el">
          Видеокарта KFA2 GeForce RTX 4060 CORE Black [46NSL8MD9NXK] [PCIe
          4.0 8 ГБ GDDR6, 128 бит, 3 x DisplayPort, HDMI, GPU 1830 МГц]
        </div>
        <div class="product_below desc_el">
          <div class="product_price">35 999 ₽</div>
          <div class="buttons">
            <button>Добавить в корзину</button>
            <button>Заказать</button>
          </div>
        </div>
      </div>
    </section>
  </article>
  <article>
    <section>
      <div class="product_image"><img src="../imgs/graphicalcards/gcard2.jpg" alt=""></div>
      <div class="product_desc">
        <div class="product_name desc_el">
          Видеокарта KFA2 GeForce RTX 3060 CORE (LHR) [36NOL7MD1VOK] [PCIe
          4.0 12 ГБ GDDR6, 192 бит, 3 x DisplayPort, HDMI, GPU 1320 МГц]
        </div>
        <div class="product_below desc_el">
          <div class="product_price">31 999 ₽</div>
          <div class="buttons">
            <button>Добавить в корзину</button>
            <button>Заказать</button>
          </div>
        </div>
      </div>
    </section>
  </article>
  <article>
    <section>
      <div class="product_image"><img src="../imgs/graphicalcards/gcard3.jpg" alt=""></div>
      <div class="product_desc">
        <div class="product_name desc_el">
          Видеокарта MSI GeForce RTX 3050 VENTUS 2X XS OC [RTX 3050 VENTUS
          2X XS 8G OC] [PCIe 4.0 8 ГБ GDDR6, 128 бит, DisplayPort, DVI-D,
          HDMI, GPU 1552 МГц]
        </div>
        <div class="product_below desc_el">
          <div class="product_price">26 999 ₽</div>
          <div class="buttons">
            <button>Добавить в корзину</button>
            <button>Заказать</button>
          </div>
        </div>
      </div>
    </section>
  </article>
  <article>
    <section>
      <div class="product_image"><img src="../imgs/graphicalcards/gcard4.jpg" alt=""></div>
      <div class="product_desc">
        <div class="product_name desc_el">
          Видеокарта Palit GeForce RTX 4080 SUPER GamingPro
          [NED408S019T2-1032A] [PCIe 4.0 16 ГБ GDDR6X, 256 бит, 3 x
          DisplayPort, HDMI, GPU 2295 МГц]
        </div>
        <div class="product_below desc_el">
          <div class="product_price">144 999 ₽</div>
          <div class="buttons">
            <button>Добавить в корзину</button>
            <button>Заказать</button>
          </div>
        </div>
      </div>
    </section>
  </article>
  <article>
    <section>
      <div class="product_image"><img src="../imgs/graphicalcards/gcard5.jpg" alt=""></div>
      <div class="product_desc">
        <div class="product_name desc_el">
          Видеокарта GIGABYTE GeForce RTX 4060 EAGLE OC [GV-N4060EAGLE
          OC-8GD] [PCIe 4.0 8 ГБ GDDR6, 128 бит, 2 x DisplayPort, 2 x HDMI,
          GPU 1830 МГц]
        </div>
        <div class="product_below desc_el">
          <div class="product_price">40 999 ₽</div>
          <div class="buttons">
            <button>Добавить в корзину</button>
            <button>Заказать</button>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>
{% endblock content %}
