{% extends "main/base.html" %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href='{% static "css/catalog.css" %}' />
{% endblock %}
{% block aside %}
  <aside>
    <nav class="aside__nav">
      <div class="headline"><h1>Категории товаров</h1></div>
      {% for category in categories %}
      <a href="{% url "products:products" category.slug %}" class="aside-element">{{ category.name }}</a>
      {% endfor %}
    </nav>
  </aside>
{% endblock aside %}
{% block content %}
<main>
  {% for product in products %}
  <article>
    <section>
      {% if product.image %}
      <div class="product_image"><img src="{{ product.image.url }}" alt=""></div>
      {% endif %}
      <div class="product_desc">
        <div class="product_name desc_el">
          <a href="{% url "products:product" product.slug %}">{{ product.name }}</a>
        </div>
        <div class="product_below desc_el">
          <div class="product_price">{{ product.price }} ₽</div>
          <div class="buttons">
            <button>Добавить в корзину</button>
            <button>Заказать</button>
          </div>
        </div>
      </div>
    </section>
  </article>
  {% endfor %}
</main>
{% endblock content %}
